<!DOCTYPE html>
<html>
<head>
	<title>Edit Product {{ product[0]['id'] }}</title>
	<link rel="stylesheet" href="/static/css/styles.css" type="text/css">

</head>
<body>
<h1>Edit Product {{ product[0]['id'] }}</h1>
<form action="/products/update/{{ product[0]['id'] }}" method="POST">
	Name<br>
	<input type="text" name="name" value="{{ product[0]['name'] }}"><br>	
	Description<br>
	<input type="text" name="description" value="{{ product[0]['description'] }}"><br>
	Price<br>
	<input type="text" name="price" value="{{ product[0]['price'] }}"><br>
	<input type="submit" name="submit" value="Update">
</form>
<a href="/products/show/{{ product[0]['id'] }}>">Show</a>&nbsp;|&nbsp; <a href="/products">Back</a>
</body>
</html>