<!DOCTYPE html>
<html>
<head>
	<title>Edit Product {{ product['id'] }}</title>
	<link rel="stylesheet" href="/static/css/styles.css" type="text/css">

</head>
<body>
<h1>Edit Product {{ product['id'] }}</h1>
<form>
	Name<br>
	<input type="text" name="name" value="{{ product['name'] }}"><br>	
	Description<br>
	<input type="text" name="description" value="{{ product['description'] }}"><br>
	Price<br>
	<input type="text" name="price" value="{{ product['price'] }}"><br>
	<input type="submit" name="submit" value="Create">
</form>
<a href="#">Show</a>&nbsp;|&nbsp; <a href="#">Back</a>
</body>
</html>