<html>
<head>
	<title>All Products | Semi Restful Route</title>
<link rel="stylesheet" href="/static/css/styles.css" type="text/css">
</head>
<body>
<h1>Products</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Actions</th>
  </tr>
  {% for product in products %}
  <tr> 
    <td>{{ product['name'] }}</td>
    <td>{{ product['description'] }}</td>
    <td>${{ product['price'] }}</td>
    <td><a href="/products/show/{{ product['id'] }}">Show</a>&nbsp;|&nbsp;
    <a href="/products/edit/{{ product['id'] }}">Edit</a>&nbsp;|&nbsp;
    <form action="/products/delete/{{ product['id'] }}" method="POST" >
    	<input type="submit" value="Remove"></td>
  	</form>
  </tr>
  {% endfor %}
</table>
  <a href="/products/new">Add a new product</a>
</body>
</html>
